.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul.transition {
  display: flex;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999999;
  margin: 0;
  pointer-events: none;
}

ul.transition li {
  transform: scaleY(0);
  width: 20%;
}

ul.transition li:nth-child(odd) {
  background: hsl(226deg 98% 35%);
}

ul.transition li:nth-child(even) {
  background: hsl(340deg 84% 35%);
}

.Home, .Contact {
  height: 100vh;
  background-color: #161616;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0%);
}