/* @import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"); */
@import "assets/main.css";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  font-family: "Open Sans", sans-serif;
}
.heading,
h1,
h2,
h3,
.heading > *,
h1 > *,
h2 > *,
h3 > * {
  font-family: "JetBrains Mono", cursive;
}

.cursive {
  font-family: "JetBrains Mono", cursive;
  font-weight: 700;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  text-shadow: 2px 2px 4px #000000;
}

@media only screen and (max-width: 400px) {
  .home-name {
    font-size: 35px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 400px) {
  .home-name {
    font-size: 60px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .home-name {
    font-size: 100px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .home-name {
    font-size: 100px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .home-name {
    font-size: 120px;
  }
}

:root {
  --color1: #011761;
  --color2: #860c35;
}

.gradient {
  /* background: linear-gradient(90deg, #d53369 0%, #daae51 100%); */
  background: linear-gradient(90deg, var(--color1) 0%, var(--color2) 100%);
}
.gradient-neo {
  /* background: linear-gradient(90deg, #d53369 0%, #daae51 100%); */
  background: linear-gradient(90deg, var(--color1) 0%, var(--color2) 100%);
  box-shadow: 4px 4px 9px #010c31, -4px -4px 9px #022392;
}
body {
  background: rgba(3, 3, 3);
}

.bg-color1 {
  background: var(--color1);
}
.bg-color2 {
  background: var(--color2);
}

.text-color1 {
  color: var(--color1);
}
.text-color2 {
  color: var(--color2);
}

.bg-glass-color1 {
  background: rgba(1, 23, 97, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}
.bg-neo-color1 {
  border-radius: 6px;
  /* background: #011761; */
  background: #011c74;
  box-shadow: 4px 4px 9px #010c31, -4px -4px 9px #022392;
}
.bg-neo-color2 {
  border-radius: 47px;
  background: #860c35;
  box-shadow: 23px 23px 46px #6f0a2c, -23px -23px 46px #9d0e3e;
}

.bg-glass-color2 {
  background: rgba(134, 12, 53, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

.bg-glass-white {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

/* UI components */
select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}
